<script type="text/javascript">
  console.log({{site | jsonify}});
  console.log({{page | jsonify}});
</script>

<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}README">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

        

      {% assign pages_list = site.pages%}
      {% for section in site.sections%}
        <b class="sidebar-nav-item">{{ section }}</b>
        {% for node in pages_list %}
          {% if node.category == section%}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">
              {{ node.title }}
              <br/>
              - <small>{{ node.author }}</small>
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

<!--       <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    </nav>
  </div>
  <div class="container sidebar-sticky" style="font-size:12px">
    <a href = "{{ site.github.repo }}" target="_blank">
      <img src="{{site.baseurl}}/public/github.png"/>
    </a>
    <div>Powered by <a href="https://github.com/poole/hyde">Hyde</a></div>
  </div>
</div>
